<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Author</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<center>


 <div class="container">
  <h1> Welcome to simple search engine </h1>
  


  <form name="sform" action="/search_author" method="post"> {% csrf_token %}

   <table>
  
  <tr> <td colspan=2> <input type="text" class="form-control" placeholder="Search for Authors here" name="search" required/>  </td></tr>
  
   <tr> <td> 
   	<button class="btn btn-success" name="solr"  type="submit"> search </button> 
    </td> 
</tr>

   </table>

 </body>

</html>
